// variables
$colorBlack      : #000;
$colorWhite      : #fff;
$colorGreen      : #8DFD1B;
$colorGreenHover : #6cc018;
$colorGrey       : #A8A8A8;
$colorDark       : #222222;
$colorViolet     : #42006A;
// templates
%container {    
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}
%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
%flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
%text {    
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}
%title {
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    font-weight: 400;
}
%button {
    text-decoration: none;
    font-family: 'DM Mono', monospace;
    background: $colorGreen;
    color: $colorBlack;
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
}
body {
    background: $colorBlack;
    color: $colorWhite;
    font-weight: 400;
    position: relative;
}
section {
    overflow: hidden;
    &:not(.hero) {
        transition: visibility 0s, width 0s, transform 0.5s linear;
        &:nth-child(odd) {          
            transform: translate(0, 15%);
            visibility: hidden;
            &.active {
                visibility: visible;
                transform: translate(0, 0);
            }
        }
        &:nth-child(even) {           
            transform: translate(0, -15%);
            visibility: hidden;
            &.active {
                visibility: visible;
                transform: translate(0, 0);
            }
        }
    }
}
a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    @extend %flex-center-between;
    background: $colorBlack;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    @media(max-width: 992px) {
        display: block;
        height: auto;
        box-shadow: 0 0 73px #262525;
    }
    &-wrapper {        
        @extend %container;
        display: flex;
        align-items: center;
        width: 100%;
        @media(max-width: 992px) {
            flex-direction: column;
            display: none;
        }
    }
    &-logo {
        margin: 0 30px 0 0; 
        @media(max-width: 992px) {
            margin: 0 0 30px;
        }
    }
    &-nav {
        display: flex;
        @media(max-width: 992px) {
            flex-direction: column;
        }
        &__link {
            font-family: 'DM Mono', monospace;
            @extend %text;
            color: $colorWhite;
            margin: 0 43px 0 0;
            @media(max-width: 992px) {                
                margin: 0 0 20px;
                flex-direction: column;
            }
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 2px;
                background: $colorGreen;
                transition: width 0.3s linear;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
    &-burger {
        display: none;
        width: 100%;
        height: 38px;
        background: $colorBlack;
        @media(max-width: 992px) {
            display: block;
        }
        &__lines {
            display: block;
            width: 30px;
            height: 2px;
            border-radius: 2px;
            background: $colorWhite;
            position: relative;
            margin: 34px 30px 0 auto;
            &::after,
            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 30px;
                height: 2px;
                border-radius: 2px;
                background: $colorWhite;
                left: 0;
                transition: transform 0.3s linear;
            }
            &::before {
                top: -12px;
            }
            &::after {
                bottom: -12px;
            }
            &.active {
                background: transparent;
                &::after {
                    transform: rotate(45deg);
                    top: 0;
                    left: 0;
                }
                &::before {
                    transform: rotate(-45deg);
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

.media {
    @extend %flex-center-between;
    margin-left: auto;
    width: 100%;
    max-width: 180px;
    @media(max-width: 992px) {
        margin: 10px auto 45px;
    }
    &-link {
        @extend %flex-center;
        width: 36px;
        height: 36px;
        background: $colorWhite;
        transition: all 0.2s linear;
        @media(max-width:768px) {
            flex-direction: column;
        }
        &:hover {
            transform: scale(0.85);
            background: $colorGreen;
        }
    }
}

.hero {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    padding: 80px 0 0;
    @media(max-width: 630px) {
        flex-direction: column;
    }
    &-wrapper {
        max-width: 1100px;
        padding: 0 15px;
    }
    &-title {
        @extend %title;
        font-size: 51px;
        line-height: 61px;
        @media(max-width: 800px) {
            font-size: 40px;
            line-height: 52px;
        }
        @media(max-width: 400px) {
            font-size: 34px;
            line-height: 46px;
        }
        @media(max-width: 320px) {
            font-size: 28px;
            line-height: 40px;
        }
    }
    &-text {
        @extend %text;
        margin: 43px 0 115px;
        max-width: 335px;
        @media(max-width: 800px) {
            margin: 35px 0 50px;
        }
        @media(max-width: 320px) {
            margin: 25px 0 50px;
        }
        &__block {
            max-width: 430px;
            padding: 100px 0 0;
            @media(max-width: 991px) {
                padding: 60px 0 0;
            }
            @media(max-width: 630px) {
                margin: 0 auto;
                text-align: center;
                max-width: 345px;
            }
            @media(max-width: 320px) {
                padding: 45px 0 0;
            }
        }
    }
    &-button {
        height: 60px;
        width: 205px;
        @extend %text;
        @extend %flex-center;
        @extend %button;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        position: relative;
        transition: color 0.3s linear;
        @media(max-width: 630px) {
            margin: 0 auto;
        }
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: $colorGreenHover;
            transform: scaleX(0);
            transform-origin: 50%;
            transition: transform 0.3s ease-out;
        }
        &:hover {
            &::before {
                transform: scaleX(1);
            }
        }
    }
    &-images {
        position: relative;
        width: 50%;
        margin-left: auto;
        @media(max-width: 630px) {
            width: 100%;
            min-height: 450px;
            margin: 0;
        }
        @media(max-width: 450px) {
            min-height: 340px;
        }
        @media(max-width: 320px) {
            min-height: 340px;
        }
        &__item {
            position: absolute;
            transition: top 0.8s linear, 
                        left 0.8s linear, 
                        right 0.8s linear, 
                        width 0.8s linear, 
                        transform 0.8s linear,
                        z-index 1s linear;
            transform: initial;
            opacity: 1;
            z-index: 1;
            width: 45%;
            top: 120px;
            &.first {
                left: -90px;
                right: initial;
                @media(max-width: 1000px) {
                    left: -50px;
                }
                @media(max-width: 630px) {
                    left: 0;
                }
            }
            &.second {
                z-index: 3;
                width: 65%;
                top: 60px;
                left: 43%;
                right: initial;
                transform: translate(-50%, 0);
                @media(max-width: 630px) {
                    left: 50%;
                }
            }
            &.third {
                z-index: 12;
                left: initial;
                right: 0;
                &.second {
                    z-index: 0;
                }
            }
        }
    }
}

.about {
    @extend %flex-center-between;
    @extend %container;
    margin: 150px auto 0;
    @media(max-width:768px) {
        flex-direction: column;
    }
    @media(max-width: 450px) {
        margin: 100px auto 0;
    }
    &-left {
        width: 32%;
        @media(max-width: 1024px) {
            width: 50%;
            max-width: 300px;
        }
    }
    &-right {
        width: 55%;
        padding-right: 100px;
        @media(max-width: 1024px) {
            padding: 0;
        }
        &__top {
            position: relative;
            font-family: 'DM Mono', monospace;
            font-size: 21px;
            line-height: 32px;
            padding-left: 22px;
            color: $colorGreen;
            border-left: 1px solid $colorGreen;
            margin: 0 0 27px;
            @media(max-width: 420px) {
                font-size: 20px;
                line-height: 30px;
            }
        }
        &__text {
            @extend %text;
            font-size: 15px;
            margin: 0 0 18px;
        }
        &__btn {
            @extend %flex-center;
            height: 42px;
            width: 246px;
            border: 1px solid $colorGreen;
            border: none;
            background: transparent;
            @media(max-width:768px) {
                flex-direction: column;
            }
            &:hover {
                font-size: 79px;
                line-height: 88px;
                text-align: left;
            }
        }
    }
    &-left,
    &-right {        
        @media(max-width: 768px) {
            max-width: 600px;
            width: 100%;
        }
    }
    &-title {
        @extend %title;
        font-size: 38px;
        line-height: 45px;
        margin: 0 0 40px;
        span {
            color: $colorGrey;
        }
        @media(max-width: 450px) {
            font-size: 34px;
            line-height: 43px;
            margin: 0 0 35px;
        }
    }
    &-img {
        max-width: 360px;
        margin: 0 0 0 -45px;
    }
}

.artists {
    margin: 80px 0 0;
    &-title {
        @extend %title;
        position: absolute;
        top: 0;
        left: 45%;
        font-size: 79px;
        line-height: 88px; 
        @media(max-width: 1250px) {
            left: 38%;
            font-size: 58px;
            line-height: 70px; 
        }
        @media(max-width: 768px) {
            font-size: 45px;
            line-height: 60px; 
        }
        @media(max-width: 600px) {
            font-size: 6vw;
            line-height: 1.3;
        }
        &__block {
            width: 100%;
            height: 175px;
            position: relative;
            @media(max-width: 768px) {
                height: 120px;
            }
            @media(max-width: 600px) {
                height: 80px;
            }
            &::after,
            &::before {
                font-family: 'Audiowide', cursive;
                font-weight: 400;
                font-size: 79px;
                line-height: 88px;
                text-transform: uppercase;                
                content: 'Artists';
                display: block;
                position: absolute;
                top: 0;
                @media(max-width: 1250px) {
                    font-size: 58px;
                    line-height: 70px; 
                }
                @media(max-width: 768px) {
                    font-size: 45px;
                    line-height: 60px; 
                }
                @media(max-width: 600px) {
                    font-size: 6vw;
                    line-height: 1.3;
                }
            }            
            &::after {
                right: -4%;
                @media(max-width: 1600px) {
                    right: -17%;
                }
            }
            &::before {
                left: 4%;
                @media(max-width: 1600px) {
                    left: -11%;
                }
                @media(max-width: 1250px) {
                    left: -9%;
                }
            }
        }
    }
    &-wrapper {
        max-width: 1320px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    &-profile {
        @extend %flex-center;
        flex-direction: column;
        width: 245px;
        margin: 0 60px 80px 0;
        @media(max-width: 1250px) {
            width: 235px;
            margin: 0 45px 55px 0;
        }
        @media(max-width: 768px) {
            flex-direction: column;
            width: 220px;
            margin: 0 30px 40px 0;
        }
        @media(max-width: 500px) {
            width: 40%;
            margin: 0 25px 35px 0;        
        }
        &__avatar {
            max-width: 100%;
            margin: 0 0 20px;
        }
        &__name {
            font-family: 'DM Mono', monospace;
            @extend %text;
        }
    }
}

.story {
    margin: 150px 0 0;
    &-wrapper {    
        max-width: 1320px;
        margin: 100px auto 60px;
        padding: 0 15px;
        display: flex;
        @media(max-width: 768px) {
            flex-direction: column;
        }
    }
    &-title {
        @extend %title;
        font-size: 37px;
        line-height: 45px;
        text-align: center;
        span {
            color: $colorGrey;
        }
    }
    &-tabs {
        max-width: 100%;
        width: 282px;
        display: flex;
        flex-direction: column;
        @media(max-width: 768px) {
            flex-direction: row;
        }
        &__item {
            width: 100%;
            height: 72px;
            font-family: 'DM Mono', monospace;
            font-size: 16px;
            line-height: 72px;
            padding: 0 0 0 28px;
            cursor: pointer;
            @media(max-width: 768px) {
                padding: 0 25px;
            }
            @media(max-width: 420px) {
                line-height: 50px;
                height: 50px;
                padding: 0 12px;
            }
            @media(max-width: 320px) {
                max-width: 33.333%;
                font-size: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.active {
                color: $colorGreen;
                background: $colorDark;
            }
        }
    }
    &-blocks {
        width: 878px;
        max-width: 100%;
        &__item {
            display: none;
            padding: 60px;
            background: $colorDark;
            align-items: flex-start;
            &.active {
                display: flex;
                @media(max-width: 768px) {
                    display: block;
                }
            }
            @media(max-width: 950px) {
                padding: 40px;
            }
            @media(max-width: 500px) {
                padding: 30px;
            }
            @media(max-width: 425px) {
                padding: 20px;
            }
        }
        &__img {
            width: 172px;
            margin: 0 60px 0 0;
            @media(max-width: 950px) {
                width: 130px;
                margin: 0 40px 0 0;
            }
            @media(max-width: 768px) {
                float: left;
            }
            @media(max-width: 500px) {
                margin: 0 15px 0 0;
            }
            @media(max-width: 420px) {
                width: 90px;
            }
            @media(max-width: 320px) {
                float: initial;
                width: 90%;
                margin: 0 0 15px 0;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            @media(max-width: 768px) {
                display: block;
            }
        }
        &__text {
            @extend %text;
            margin: 0 0 18px;
            &--top {
                font-family: 'DM Mono', monospace;
                font-size: 21px;
                line-height: 32px;
                padding: 0 0 0 22px;
                color: $colorGreen;
                border-left: 1px solid $colorGreen;
                margin: 0 0 28px;
                @media(max-width: 768px) {
                    margin: 0 0 28px auto;
                    width: calc(100% - 165px);
                }
                @media(max-width: 500px) {
                    width: calc(100% - 150px);
                    font-size: 18px;
                    line-height: 28px;
                    padding: 0 0 0 15px;
                }
                @media(max-width: 420px) {
                    width: calc(100% - 100px);
                }
                @media(max-width: 320px) {
                    width: 100%;
                }
            }
        }        
    }
}

.roadmap {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg width='672' height='672' viewBox='0 0 672 672' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_613)'%3E%3Cpath d='M336 385.5C363.338 385.5 385.5 363.338 385.5 336C385.5 308.662 363.338 286.5 336 286.5C308.662 286.5 286.5 308.662 286.5 336C286.5 363.338 308.662 385.5 336 385.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M336.5 415.5C380.683 415.5 416.5 379.683 416.5 335.5C416.5 291.317 380.683 255.5 336.5 255.5C292.317 255.5 256.5 291.317 256.5 335.5C256.5 379.683 292.317 415.5 336.5 415.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M335.605 464.71C406.908 464.71 464.71 406.908 464.71 335.605C464.71 264.302 406.908 206.5 335.605 206.5C264.302 206.5 206.5 264.302 206.5 335.605C206.5 406.908 264.302 464.71 335.605 464.71Z' stroke='%238DFD1B' stroke-opacity='0.75'/%3E%3Cpath d='M335.664 543.828C450.63 543.828 543.828 450.63 543.828 335.664C543.828 220.698 450.63 127.5 335.664 127.5C220.698 127.5 127.5 220.698 127.5 335.664C127.5 450.63 220.698 543.828 335.664 543.828Z' stroke='%238DFD1B' stroke-opacity='0.5'/%3E%3Cpath d='M335.951 671.402C521.215 671.402 671.402 521.215 671.402 335.951C671.402 150.687 521.215 0.5 335.951 0.5C150.687 0.5 0.5 150.687 0.5 335.951C0.5 521.215 150.687 671.402 335.951 671.402Z' stroke='%238DFD1B' stroke-opacity='0.25'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_613'%3E%3Crect width='672' height='672' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 10%/45% auto no-repeat,
                url("data:image/svg+xml;charset=utf8,%3Csvg width='672' height='672' viewBox='0 0 672 672' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_613)'%3E%3Cpath d='M336 385.5C363.338 385.5 385.5 363.338 385.5 336C385.5 308.662 363.338 286.5 336 286.5C308.662 286.5 286.5 308.662 286.5 336C286.5 363.338 308.662 385.5 336 385.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M336.5 415.5C380.683 415.5 416.5 379.683 416.5 335.5C416.5 291.317 380.683 255.5 336.5 255.5C292.317 255.5 256.5 291.317 256.5 335.5C256.5 379.683 292.317 415.5 336.5 415.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M335.605 464.71C406.908 464.71 464.71 406.908 464.71 335.605C464.71 264.302 406.908 206.5 335.605 206.5C264.302 206.5 206.5 264.302 206.5 335.605C206.5 406.908 264.302 464.71 335.605 464.71Z' stroke='%238DFD1B' stroke-opacity='0.75'/%3E%3Cpath d='M335.664 543.828C450.63 543.828 543.828 450.63 543.828 335.664C543.828 220.698 450.63 127.5 335.664 127.5C220.698 127.5 127.5 220.698 127.5 335.664C127.5 450.63 220.698 543.828 335.664 543.828Z' stroke='%238DFD1B' stroke-opacity='0.5'/%3E%3Cpath d='M335.951 671.402C521.215 671.402 671.402 521.215 671.402 335.951C671.402 150.687 521.215 0.5 335.951 0.5C150.687 0.5 0.5 150.687 0.5 335.951C0.5 521.215 150.687 671.402 335.951 671.402Z' stroke='%238DFD1B' stroke-opacity='0.25'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_613'%3E%3Crect width='672' height='672' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 100% 50%/45% auto no-repeat,
                url("data:image/svg+xml;charset=utf8,%3Csvg width='672' height='672' viewBox='0 0 672 672' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_613)'%3E%3Cpath d='M336 385.5C363.338 385.5 385.5 363.338 385.5 336C385.5 308.662 363.338 286.5 336 286.5C308.662 286.5 286.5 308.662 286.5 336C286.5 363.338 308.662 385.5 336 385.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M336.5 415.5C380.683 415.5 416.5 379.683 416.5 335.5C416.5 291.317 380.683 255.5 336.5 255.5C292.317 255.5 256.5 291.317 256.5 335.5C256.5 379.683 292.317 415.5 336.5 415.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M335.605 464.71C406.908 464.71 464.71 406.908 464.71 335.605C464.71 264.302 406.908 206.5 335.605 206.5C264.302 206.5 206.5 264.302 206.5 335.605C206.5 406.908 264.302 464.71 335.605 464.71Z' stroke='%238DFD1B' stroke-opacity='0.75'/%3E%3Cpath d='M335.664 543.828C450.63 543.828 543.828 450.63 543.828 335.664C543.828 220.698 450.63 127.5 335.664 127.5C220.698 127.5 127.5 220.698 127.5 335.664C127.5 450.63 220.698 543.828 335.664 543.828Z' stroke='%238DFD1B' stroke-opacity='0.5'/%3E%3Cpath d='M335.951 671.402C521.215 671.402 671.402 521.215 671.402 335.951C671.402 150.687 521.215 0.5 335.951 0.5C150.687 0.5 0.5 150.687 0.5 335.951C0.5 521.215 150.687 671.402 335.951 671.402Z' stroke='%238DFD1B' stroke-opacity='0.25'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_613'%3E%3Crect width='672' height='672' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 100%/45% auto no-repeat,
                url(images/bg.jpg) top center/100% auto no-repeat;
    padding: 300px 15px;
    margin: 80px 0 0;
    @media(max-width: 1300px) {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg width='672' height='672' viewBox='0 0 672 672' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_613)'%3E%3Cpath d='M336 385.5C363.338 385.5 385.5 363.338 385.5 336C385.5 308.662 363.338 286.5 336 286.5C308.662 286.5 286.5 308.662 286.5 336C286.5 363.338 308.662 385.5 336 385.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M336.5 415.5C380.683 415.5 416.5 379.683 416.5 335.5C416.5 291.317 380.683 255.5 336.5 255.5C292.317 255.5 256.5 291.317 256.5 335.5C256.5 379.683 292.317 415.5 336.5 415.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M335.605 464.71C406.908 464.71 464.71 406.908 464.71 335.605C464.71 264.302 406.908 206.5 335.605 206.5C264.302 206.5 206.5 264.302 206.5 335.605C206.5 406.908 264.302 464.71 335.605 464.71Z' stroke='%238DFD1B' stroke-opacity='0.75'/%3E%3Cpath d='M335.664 543.828C450.63 543.828 543.828 450.63 543.828 335.664C543.828 220.698 450.63 127.5 335.664 127.5C220.698 127.5 127.5 220.698 127.5 335.664C127.5 450.63 220.698 543.828 335.664 543.828Z' stroke='%238DFD1B' stroke-opacity='0.5'/%3E%3Cpath d='M335.951 671.402C521.215 671.402 671.402 521.215 671.402 335.951C671.402 150.687 521.215 0.5 335.951 0.5C150.687 0.5 0.5 150.687 0.5 335.951C0.5 521.215 150.687 671.402 335.951 671.402Z' stroke='%238DFD1B' stroke-opacity='0.25'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_613'%3E%3Crect width='672' height='672' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 10%/45% auto no-repeat,
                    url("data:image/svg+xml;charset=utf8,%3Csvg width='672' height='672' viewBox='0 0 672 672' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_613)'%3E%3Cpath d='M336 385.5C363.338 385.5 385.5 363.338 385.5 336C385.5 308.662 363.338 286.5 336 286.5C308.662 286.5 286.5 308.662 286.5 336C286.5 363.338 308.662 385.5 336 385.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M336.5 415.5C380.683 415.5 416.5 379.683 416.5 335.5C416.5 291.317 380.683 255.5 336.5 255.5C292.317 255.5 256.5 291.317 256.5 335.5C256.5 379.683 292.317 415.5 336.5 415.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M335.605 464.71C406.908 464.71 464.71 406.908 464.71 335.605C464.71 264.302 406.908 206.5 335.605 206.5C264.302 206.5 206.5 264.302 206.5 335.605C206.5 406.908 264.302 464.71 335.605 464.71Z' stroke='%238DFD1B' stroke-opacity='0.75'/%3E%3Cpath d='M335.664 543.828C450.63 543.828 543.828 450.63 543.828 335.664C543.828 220.698 450.63 127.5 335.664 127.5C220.698 127.5 127.5 220.698 127.5 335.664C127.5 450.63 220.698 543.828 335.664 543.828Z' stroke='%238DFD1B' stroke-opacity='0.5'/%3E%3Cpath d='M335.951 671.402C521.215 671.402 671.402 521.215 671.402 335.951C671.402 150.687 521.215 0.5 335.951 0.5C150.687 0.5 0.5 150.687 0.5 335.951C0.5 521.215 150.687 671.402 335.951 671.402Z' stroke='%238DFD1B' stroke-opacity='0.25'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_613'%3E%3Crect width='672' height='672' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 100% 50%/45% auto no-repeat,
                    url("data:image/svg+xml;charset=utf8,%3Csvg width='672' height='672' viewBox='0 0 672 672' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_613)'%3E%3Cpath d='M336 385.5C363.338 385.5 385.5 363.338 385.5 336C385.5 308.662 363.338 286.5 336 286.5C308.662 286.5 286.5 308.662 286.5 336C286.5 363.338 308.662 385.5 336 385.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M336.5 415.5C380.683 415.5 416.5 379.683 416.5 335.5C416.5 291.317 380.683 255.5 336.5 255.5C292.317 255.5 256.5 291.317 256.5 335.5C256.5 379.683 292.317 415.5 336.5 415.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M335.605 464.71C406.908 464.71 464.71 406.908 464.71 335.605C464.71 264.302 406.908 206.5 335.605 206.5C264.302 206.5 206.5 264.302 206.5 335.605C206.5 406.908 264.302 464.71 335.605 464.71Z' stroke='%238DFD1B' stroke-opacity='0.75'/%3E%3Cpath d='M335.664 543.828C450.63 543.828 543.828 450.63 543.828 335.664C543.828 220.698 450.63 127.5 335.664 127.5C220.698 127.5 127.5 220.698 127.5 335.664C127.5 450.63 220.698 543.828 335.664 543.828Z' stroke='%238DFD1B' stroke-opacity='0.5'/%3E%3Cpath d='M335.951 671.402C521.215 671.402 671.402 521.215 671.402 335.951C671.402 150.687 521.215 0.5 335.951 0.5C150.687 0.5 0.5 150.687 0.5 335.951C0.5 521.215 150.687 671.402 335.951 671.402Z' stroke='%238DFD1B' stroke-opacity='0.25'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_613'%3E%3Crect width='672' height='672' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 100%/45% auto no-repeat,
                    url(images/bg.jpg) top center/150% auto no-repeat;
    }
    @media(max-width: 830px) {
        padding: 95px 15px 80px;
        background: url("data:image/svg+xml;charset=utf8,%3Csvg width='672' height='672' viewBox='0 0 672 672' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_613)'%3E%3Cpath d='M336 385.5C363.338 385.5 385.5 363.338 385.5 336C385.5 308.662 363.338 286.5 336 286.5C308.662 286.5 286.5 308.662 286.5 336C286.5 363.338 308.662 385.5 336 385.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M336.5 415.5C380.683 415.5 416.5 379.683 416.5 335.5C416.5 291.317 380.683 255.5 336.5 255.5C292.317 255.5 256.5 291.317 256.5 335.5C256.5 379.683 292.317 415.5 336.5 415.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M335.605 464.71C406.908 464.71 464.71 406.908 464.71 335.605C464.71 264.302 406.908 206.5 335.605 206.5C264.302 206.5 206.5 264.302 206.5 335.605C206.5 406.908 264.302 464.71 335.605 464.71Z' stroke='%238DFD1B' stroke-opacity='0.75'/%3E%3Cpath d='M335.664 543.828C450.63 543.828 543.828 450.63 543.828 335.664C543.828 220.698 450.63 127.5 335.664 127.5C220.698 127.5 127.5 220.698 127.5 335.664C127.5 450.63 220.698 543.828 335.664 543.828Z' stroke='%238DFD1B' stroke-opacity='0.5'/%3E%3Cpath d='M335.951 671.402C521.215 671.402 671.402 521.215 671.402 335.951C671.402 150.687 521.215 0.5 335.951 0.5C150.687 0.5 0.5 150.687 0.5 335.951C0.5 521.215 150.687 671.402 335.951 671.402Z' stroke='%238DFD1B' stroke-opacity='0.25'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_613'%3E%3Crect width='672' height='672' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 0/45% auto no-repeat,
                    url("data:image/svg+xml;charset=utf8,%3Csvg width='672' height='672' viewBox='0 0 672 672' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_613)'%3E%3Cpath d='M336 385.5C363.338 385.5 385.5 363.338 385.5 336C385.5 308.662 363.338 286.5 336 286.5C308.662 286.5 286.5 308.662 286.5 336C286.5 363.338 308.662 385.5 336 385.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M336.5 415.5C380.683 415.5 416.5 379.683 416.5 335.5C416.5 291.317 380.683 255.5 336.5 255.5C292.317 255.5 256.5 291.317 256.5 335.5C256.5 379.683 292.317 415.5 336.5 415.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M335.605 464.71C406.908 464.71 464.71 406.908 464.71 335.605C464.71 264.302 406.908 206.5 335.605 206.5C264.302 206.5 206.5 264.302 206.5 335.605C206.5 406.908 264.302 464.71 335.605 464.71Z' stroke='%238DFD1B' stroke-opacity='0.75'/%3E%3Cpath d='M335.664 543.828C450.63 543.828 543.828 450.63 543.828 335.664C543.828 220.698 450.63 127.5 335.664 127.5C220.698 127.5 127.5 220.698 127.5 335.664C127.5 450.63 220.698 543.828 335.664 543.828Z' stroke='%238DFD1B' stroke-opacity='0.5'/%3E%3Cpath d='M335.951 671.402C521.215 671.402 671.402 521.215 671.402 335.951C671.402 150.687 521.215 0.5 335.951 0.5C150.687 0.5 0.5 150.687 0.5 335.951C0.5 521.215 150.687 671.402 335.951 671.402Z' stroke='%238DFD1B' stroke-opacity='0.25'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_613'%3E%3Crect width='672' height='672' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 100% 30%/45% auto no-repeat,
                    url("data:image/svg+xml;charset=utf8,%3Csvg width='672' height='672' viewBox='0 0 672 672' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_613)'%3E%3Cpath d='M336 385.5C363.338 385.5 385.5 363.338 385.5 336C385.5 308.662 363.338 286.5 336 286.5C308.662 286.5 286.5 308.662 286.5 336C286.5 363.338 308.662 385.5 336 385.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M336.5 415.5C380.683 415.5 416.5 379.683 416.5 335.5C416.5 291.317 380.683 255.5 336.5 255.5C292.317 255.5 256.5 291.317 256.5 335.5C256.5 379.683 292.317 415.5 336.5 415.5Z' stroke='%238DFD1B'/%3E%3Cpath d='M335.605 464.71C406.908 464.71 464.71 406.908 464.71 335.605C464.71 264.302 406.908 206.5 335.605 206.5C264.302 206.5 206.5 264.302 206.5 335.605C206.5 406.908 264.302 464.71 335.605 464.71Z' stroke='%238DFD1B' stroke-opacity='0.75'/%3E%3Cpath d='M335.664 543.828C450.63 543.828 543.828 450.63 543.828 335.664C543.828 220.698 450.63 127.5 335.664 127.5C220.698 127.5 127.5 220.698 127.5 335.664C127.5 450.63 220.698 543.828 335.664 543.828Z' stroke='%238DFD1B' stroke-opacity='0.5'/%3E%3Cpath d='M335.951 671.402C521.215 671.402 671.402 521.215 671.402 335.951C671.402 150.687 521.215 0.5 335.951 0.5C150.687 0.5 0.5 150.687 0.5 335.951C0.5 521.215 150.687 671.402 335.951 671.402Z' stroke='%238DFD1B' stroke-opacity='0.25'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_613'%3E%3Crect width='672' height='672' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") 0 70%/45% auto no-repeat,
                    url(images/bg.jpg) top center/100% auto no-repeat;
    }
    &-title {
        @extend %title;
        font-size: 38px;
        line-height: 45px;
        text-align: center;
        margin: 120px auto 80px;
        text-transform: initial;
        @media(max-width: 1300px) {
            margin: 70px auto 60px;
        }
        @media(max-width: 450px) {
            margin: 35px auto;
        }
        @media(max-width: 360px) {
            margin: 0 auto 35px;
        }
    }
    &-block {
        position: relative;
        width: 545px;
        max-width: 100%;
        font-family: 'DM Mono', monospace;
        display: flex;
        flex-direction: column;
        margin: 0 auto 140px;
        border: 1px solid $colorGreen;
        background: $colorDark;
        @media(max-width: 1300px) {
            margin: 0 auto 90px;
        }
        @media(max-width: 450px) {
            margin: 0 auto 60px;
        }
        &::after {
            content: '';
            display: block;
            width: 1px;
            height: 40px;
            background: $colorGreen;
            position: absolute;
            bottom: -100px;
            left: 50%;
            transform: translate(0, -50%);
            @media(max-width: 1300px) {
                bottom: -87px;
            }
            @media(max-width: 450px) {
                bottom: -62px;
                height: 30px;
            }
        }
        &:last-child {
            &::after {
                content: none;
            }
        }
        &__top {
            border-bottom: 1px solid $colorGreen;
            display: flex;
            padding: 12px;
        }
        &__num {
            font-size: 28px;
            font-weight: 400;
            line-height: 28px;
            padding: 8px 16px;
            border: 1px solid $colorGreen;
            @media(max-width: 320px) {
                font-size: 25px;
                font-weight: 400;
                line-height: 28px;
            }
            &.active {
                background: $colorGreen;
            }
        }
        &__title {
            display: flex;
            flex-direction: column;
            padding: 0 0 0 12px;
            text-transform: initial;
            @media(max-width: 360px) {
                padding: 0 0 0 10px;
            }
        }
        &__text {
            @extend %text;
            font-size: 11px;
            padding: 0 95px 0 0;
            @media(max-width: 500px) {
                padding: 0 20px 0 0;
            }
            @media(max-width: 420px) {
                padding: 0 15px 0 0;
            }
        }
        &__phase {
            font-size: 9px;
            font-weight: 400;
            line-height: 12px;
            color: $colorGreen;
        }
        &__subtitle {
            @extend %text;
            @media(max-width: 500px) {
                font-size: 14px;
                max-width: 95%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__img {
            width: 100px;
            height: 130px;
            background: $colorBlack;
            border-radius: 8px;
            @media(max-width: 320px) {
                width: 80px;
                height: auto;
            }
        }
        &__bottom {
            display: flex;
            align-items: center;
            padding: 35px 15px;
            @media(max-width: 500px) {
                padding: 25px 15px;
            }
            @media(max-width: 420px) {
                padding: 15px 10px;
            }
        }
        &__list {
            list-style: none;
            padding: 0 10px 0 0;
            margin: 0 0 25px;
            @media(max-width: 500px) {
                padding: 0 0 0 10px;
                margin: 0 0 20px;
            }
            li {
                @extend %text;
                font-size: 11px;
                line-height: 32px;
                @media(max-width: 500px) {
                    line-height: 2;
                }
            }
        }
    }
}

.partners {
    padding: 0 0 200px;
    @media(max-width: 1024px) {
        padding: 0 0 150px;
    }
    @media(max-width: 1024px) {
        padding: 0 0 100px;
    }
    &-title {
        @extend %title;
        font-family: 'DM Mono', monospace;
        color: $colorGreen;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 1px;
        text-align: center;
        margin: 0 0 50px;
    }
    &-wrapper {
        @extend %container;
        @extend %flex-center-between;
        flex-wrap: wrap;
        @media(max-width: 1500px) {
            max-width: 940px;
        }
        @media(max-width: 1200px) {
            max-width: 80%;
        }
        @media(max-width: 768px) {
            max-width: 100%;
        }
        img {
            margin: 0 0 50px;
            @media(max-width: 1500px) {
                width: 28%;
            }
            @media(max-width: 600px) {
                width: 45%;
            }
            @media(max-width: 360px) {
                margin: 0 0 40px;
            }
        }
    }
}

.faq {
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 15px 0 5%; 
        @media(max-width: 1390px) {
            padding: 0 15px;            
        }   
        @media(max-width: 700px) {
            flex-direction: column;
        }
    }
    &-left {
        display: flex;
        flex-direction: column;
        @media(max-width: 700px) {
            align-items: center;
            justify-content: center;
            margin: 0 0 25px;
        }
    }
    &-title {
        @extend %title;
        font-size: 38px;
        line-height: 45px;
        margin: 0 0 50px;
        max-width: 200px;
        @media(max-width: 995px) {
            font-size: 33px;
            line-height: 40px;
        }
        @media(max-width: 320px) {
            font-size: 28px;
            max-width: 100%;
        }
        span {
            color: $colorGrey;
        }
    }
    &-img {
        width: 350px;
        @media(max-width: 995px) {
            width: 70%;
        }
        @media(max-width: 360px) {
            width: 100%;
        }
    }
    &-right {
        background: $colorDark;
        width: 580px; 
        @media(max-width: 1390px) {
            width: 60%;
        }
        @media(max-width: 830px) {
            width: 90%;
        }
        @media(max-width: 700px) {
            width: 100%;
        }
    }
    &-top {
        @extend %flex-center-between;
        padding: 25px;
        cursor: pointer;
        transition: all 0.2s linear;
        @media(max-width: 360px) {
            padding: 18px 20px;
        }
        &:hover {
            opacity: 0.6;
        }
        &.active {
            .faq-arrow {
                transform: rotate(180deg);
            }
        }
    }
    &-question {
        font-family: 'DM Mono', monospace;
        @extend %text;
        @media(max-width: 360px) {
            font-size: 13px;
        }
    }
    &-answer {
        @extend %text;
        font-size: 12px;
        line-height: 19px;
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: visibility 0s, opacity 0.5s linear, height 0.8s linear;
        &.active {
            padding: 0 25px 25px;
            visibility: visible;
            opacity: 1;
            height: auto;
            @media(max-width: 360px) {
                padding: 0 18px 20px;
            }
        }
    }
    &-arrow {
        width: 25px;
        margin: 0 25px 0 0;
        transition: all 0.2s linear;
        @media(max-width: 450px) {
            width: 15px;
            margin: 0;
        }
    }
}

.team {
    padding: 100px 0;
    @media(max-width: 600px) {
        padding: 60px 0 0;
    }
    &-title {
        @extend %title;
        font-size: 79px;
        line-height: 88px;
        @extend %flex-center-between;
        margin: 0 0 110px -55px;
        width: 105%;
        @media(max-width: 1250px) {
            font-size: 57px;
            line-height: 86px;
            margin: 0 0 80px -55px;
        }
        @media(max-width: 768px) {
            font-size: 45px;
            line-height: 60px;
            margin: 0 0 65px -55px;
        }
        @media(max-width: 600px) {
            font-size: 40px;
            width: 122%;
        }
        @media(max-width: 360px) {
            font-size: 32px;
            margin: 0 0 45px -55px;
        }
        span {
            &:last-child {
                @media(max-width: 500px) {
                    display: none;
                }
            }
        }
    }
    &-wrapper {
        @extend %container;
        @extend %flex-center-between;
        @media(max-width: 600px) {
            flex-direction: column;
        }
    }
    &-person {
        max-width: 320px;
        @extend %flex-center;
        flex-direction: column;
        @media(max-width: 1024px) {
            max-width: 250px;
        }
        @media(max-width: 820px) {
            max-width: 215px;
        }
        @media(max-width:768px) {
            flex-direction: column;
        }
        @media(max-width: 700px) {
            max-width: 175px;
        }
        @media(max-width: 600px) {
            width: 300px;
            max-width: 100%;
            margin: 0 0 70px;
        }
        &__avatar {
            max-width: 100%;
            margin: 0 0 20px;
        }
        &__name {
            font-family: 'DM Mono', monospace;
            font-size: 21px;
            font-weight: 400;
            line-height: 28px;
            margin: 0 0 18px;
            text-transform: uppercase;
        }
        &__position {
            font-family: 'DM Mono', monospace;
            font-size: 11px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 1px;
            color: $colorGreen;
            margin: 0 0 22px;
            text-transform: uppercase;
        }
        &__media {
            width: 100%;
            max-width: 84px;
            @extend %flex-center-between;
            margin: 0 0 22px;
        }
        &__link {
            height: 36px;
            width: 36px;
            background-color: $colorWhite;
            padding: 8px;
            transition: all 0.2s linear;
            &:hover {
                transform: scale(1.15);
                background: $colorGreen;
            }
        }
        &__description {
            max-width: 238px;
            @extend %text;
            font-size: 12px;
            line-height: 19px;
            text-align: center;
            margin: 0 auto;
        }        
    }
}

.discord {
    padding: 100px 0;
    @media(max-width: 600px) {
        padding: 60px 0;
    }
    &-wrapper {
        @extend %container;
        @extend %flex-center-between;
        @media(max-width: 500px) {
            flex-direction: column-reverse;
        }
    }
    &-content {
        max-width: 345px;
        @media(max-width: 500px) {
            text-align: center;
        }
    }
    &-title {
        @extend %title;
        font-size: 51px;
        line-height: 61px;
        margin: 0 0 35px;
        @media(max-width: 600px) {
            font-size: 42px;
            line-height: 55px;
            margin: 0 0 30px;
        }
        span {
            color: $colorGreen;
        }
    }
    &-text {
        @extend %text;
        margin: 0 0 45px;
    }
    &-img {
        width: 50%;
        @media(max-width: 500px) {
            width: 100%;
            max-width: 350px;
            margin: 0 0 30px;
        }
    }
    &-link {
        @extend %flex-center;
        width: 213px;
        height: 43px;
        @extend %button;
        @extend %text;
        vertical-align: middle;
        transform: perspective(1px) translateZ(0);
        position: relative;
        transition: color 0.3s linear;
        @media(max-width: 500px) {
            margin: 0 auto;
        }
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: $colorGreenHover;
            transform: scaleX(0);
            transform-origin: 50%;
            transition: transform 0.3s ease-out;
        }
        &:hover {
            &::before {                
                transform: scaleX(1);
            }
        }
        img {
            margin: 0 10px 0 0;
        }
    }
}

.footer {
    background: $colorViolet;
    padding: 100px 0 70px;
    @media(max-width: 763px) {
        padding: 45px 0 70px;
    }
    &-wrapper {
        @extend %container;
        @extend %flex-center-between;
        align-items: initial;
        flex-wrap: wrap;
    }
    &-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 232px;
        &.short {
            width: 135px;
            @media(max-width: 532px) {
                width: 100%;
            }
        }
        @media(max-width: 763px) {
            margin: 30 0 0;
        }
        @media(max-width: 532px) {
            width: 100%;
            margin: 0;
            align-items: center;
        }
        svg {
            @media(max-width: 532px) {
                margin: 0 0 35px;
            }
        }
    }
    &-copyright {
        margin: auto 0 33px;
        font-family: 'DM Mono', monospace;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }
    &-link, &-text {
        @extend %text;
        color: $colorWhite; 
        margin: 0 0 30px;
        font-family: 'DM Mono', monospace;
        transition: all 0.2s linear;
    }
    &-link {
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: $colorGreenHover;
            transition: width 0.3s linear;
        }
        &:hover::after {
            width: 100%;
        }
    }
    .media {
        @media(max-width: 995px) {
            margin: 30px 0 0;
        }
        @media(max-width: 763px) {
            margin: 0;
        }
    }
}
#goTop {
    visibility: hidden;
    position: fixed;
    bottom: 50px;
    right: 50px;
    &.active {
        visibility: visible;
        cursor: pointer;
    }
    svg {
        path {
            transition: all 0.2s linear;
        }
    }
    &:hover {
        svg {
            path {
                fill: $colorGreen;
            }
        }
    }
}